button {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 30px auto; }

.hidden {
  display: none; }

.ownLine {
  display: block; }

.choices {
  width: 55%;
  margin: 30px auto;
  text-align: center; }

.scoreboard {
  width: 125px;
  height: 37.5px;
  margin-left: 20%;
  text-align: center;
  font-size: 2em;
  background-color: red;
  color: #fff;
  border-radius: 3px; }

#start {
  background-image: url(images/steve.png); }

#sword {
  background-image: url(images/sword.png); }

#crossbow {
  background-image: url(images/crossbow.png); }

#forest {
  background-image: url(images/forest.png); }

#sea {
  background-image: url(images/sea.png); }

#cave {
  background-image: url(images/cave.png); }

#rock {
  background-image: url(images/rock.png); }

#beach {
  background-image: url(images/beach.png); }

#boat {
  background-image: url(images/boat.png); }

#fail {
  background-image: url(images/fail.png);
  background-size: cover; }

#gold {
  background-image: url(images/gold.png); }

#mermaid {
  background-image: url(images/mermaid.png); }

#submit {
  height: 25px;
  background-color: red;
  border-radius: 2px; }

#prompt {
  font-size: 2em;
  text-align: left; }
