button{
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 30px auto;
}

.visible{
  display: inline-block;
}

.hidden{
  display: none;
}

.choices{
  width: 55%;
  margin: 30px auto;
  text-align: center;
}

.scoreboard{
  width: 125px;
  height: 37.5px;
  margin-left: 20%;
  text-align: center;
  font-size: 2em;
  background-color: red;
  color: white;
  border-radius: 3px;
}

#start{
  @extend .button;
  background-color: green;
}

#sword{
  @extend .button;
  background-image: url("images/sword.png");
}
#crossbow{
  @extend .button;
  background-image: url("images/crossbow.png");
}
#forest{
  @extend .button;
  background-image: url("images/forest.png");
}
#sea{
  @extend .button;
  background-image: url("images/sea.png");
}
#cave{
  @extend .button;
  background-image: url("images/cave.png");
}
#rock{
  @extend .button;
  background-image: url("images/rock.png");
}
#beach{
  @extend .button;
  background-image: url("images/beach.png");
}
#boat{
  @extend .button;
  background-image: url("images/boat.png");
}
#fail{
  @extend .button;
  background-image: url("images/fail.png");
  background-size: cover;
}
#gold{
  @extend .button;
  background-image: url("images/gold.png");
}
#submit{
  @extend .button;
  height:25px;
  background-color: red;
  border-radius: 2px;
}
#prompt{
  font-size: 2em;
  text-align: left;
}
